body {
  font-family: sans-serif; /* Шрифт */
  background-image: url(png/bliss.jpg); /* Фоновое изображение */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #f5f5f5;
  color: #010203;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main_logo {
  height: 32px;
  border-radius: 8px;
}

.logos {
  height: 16px;
}

a {
  color: #010203;
}

a:hover {
  color: black;
  filter: invert(37%) sepia(59%) saturate(997%) hue-rotate(247deg) brightness(90%) contrast(80%);
}

.container {
  background-color: #f5f5f5ce;
  max-width: 960px;
  min-width: 300px;
  padding: 24px;
  margin: auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border-radius: 21px;
}

.windows {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #f5f5f5af;
  margin: 50px;
  max-width: 30%;
  line-height: 20px;
  overflow: hidden;
/* Делаем текст не выделяемым */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  text-align: center;
  color: #746cc0;
}

p {
  line-height: 24px;
}