/* Загрузка Шрифта */
:root { font-family: 'Inter', sans-serif; }
       @supports (font-variation-settings: normal) {
         :root { font-family: 'Inter var', sans-serif; }
       }

html {
  font-family: Inter; /* Шрифт */
  background-image: url(png/bliss.webp); /* Фоновое изображение */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body {
  color: #010203;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {display: flex;} /* Адаптирует всю страницу под ПК */
  .windows {position: fixed;} /* Адаптирует "Активацию" под ПК */
}

.window-decoration {
  background-color: #f5f5f5ce;
  padding: 24px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border-radius: 21px;
}

.main_logo {
  height: 32px;
  border-radius: 8px;
}

.link_container a { /* Блок с Ссылками */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  text-decoration: none;
}

.link_container a b { /* Пробел между Иконками и Ссылками*/
  padding: 2px;
}

.link_container a img { /* Размер Иконок */
  height: 18px;
}

a {
  color: #010203;
}

a:hover {
  color: black;
  filter: invert(37%) sepia(59%) saturate(997%) hue-rotate(247deg) brightness(90%) contrast(80%);
}

.container {
  background-color: #f5f5f5ce;
  max-width: 960px;
  min-width: 200px;
  padding: 24px;
  margin: auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border-radius: 21px;
}

.windows { /* "Активация Linux" */
  bottom: 0;
  right: 0;
  color: #f5f5f5af;
  margin: 50px;
  line-height: 20px;
  overflow: hidden;
/* Делаем текст не выделяемым */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  text-decoration: underline;
  background-blend-mode: screen;
  padding: 24px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  border-radius: 21px;
}

.libre-title {
  text-align: left;
  
  background-color: #ccff9dce;
  background-image: url(png/orang.webp);

  background-position: center;
}

.libre-title img{
  height: 36px;
}

.proprietary-title {
  text-align: right;
  
  background-color: #ffb19dce;
  background-image: url(png/snow.webp);
  background-position: right;
}

h3 {
  margin: auto;
}